<div align="center">
  <h1>HUILOAPAN DE CUAUHTÉMOC</h1>
  <h3>NOMENCLATURA</h3>
  <br><br>
  <div class="container">
    <table class="table table-borderless center">
      <thead>
        <tr>
          <th scope="col">DENOMINACIÓN</th>
          <th scope="col">TOPONIMIA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Huiloapan de Cuauhtémoc.</th>
          <td>"Del náhuatl. Huilo-a-pan. "En el agua o río de las palomas".</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-borderless center">
      <thead>
        <tr>
          <th scope="col">ESCUDO</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><img src="../../../assets/img/escudo.jpg" alt=""></th>
          <td align="justify">    </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-borderless center">
      <thead>
        <tr>
          <th scope="col">HISTORIA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">RESEÑA HISTÓRICA.</th>
          <td align="justify">
            </td>
        </tr>
        <tr>
          <th scope="row">PERSONAJES ILUSTRES</th>
          <td align="justify">
          </td>
        </tr>
        <tr>
          <th scope="row">CRONOLOGÍA DE HECHOS HISTÓRICOS</th>
        </tr>
        <tr>
          <th scope="row">Año</th>
          <th scope="row">Acontecimiento</th>
        </tr>
        <tr>
          <td>1498</td>
          <td align="justify">
            
          </td>
        </tr>
        <tr>
          <td>1522</td>
          <td align="justify">
            
          </td>
        </tr>
        <tr>
          <td>1525</td>
          <td align="justify">
            
          </td>
        </tr>
        <tr>
          <td>1826</td>
          <td align="justify">
            
          </td>
        </tr>
        <tr>
          <td>1919</td>
          <td align="justify">
            
          </td>
        </tr>
        <tr>
          <td>1950</td>
          <td align="justify">
           
          </td>
        </tr>
        <tr>
          <td>1959</td>
          <td align="justify">
            El pueblo de Huiloapan se eleva a la categoría de Villa.
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-borderless center">
      <thead>
        <tr>
          <th scope="col">MEDIO FÍSICO</th>
        </tr>
        <tr>
          <th>Localizacón</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><img src="../../../assets/img/region.gif" alt=""></th>
          <td align="justify">
            </td>
        </tr>
        <tr>
          <td><b>Extensión</b></td>
          <td align="justify">Tiene una extensión de 18.66 Km2, cifra que representa el 0.03
             por ciento del total del Estado.</td>
        </tr>
        <tr>
          <td><b>Orografía</b></td>
          <td align="justify"></td>
        </tr>
        <tr>
          <td><b>Hidrografía</b></td>
          <td align="justify"></td>
        </tr>
        <tr>
          <td><b>Clima</b></td>
          <td align="justify"></td>
        </tr>
        <tr>
          <td><b>Principales Ecosistemas</b></td>
          <td align="justify"></td>
        </tr>
        <tr>
          <td><b>Recursos Naturales</b></td>
          <td align="justify"></td>
        </tr>
        <tr>
          <td><b>Caraterísticas</b></td>
          <td align="justify"></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-borderless center">
      <thead>
        <tr>
          <th scope="col">ATRACTIVOS CULTURALES Y TURÍSTICOS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">MONUMENTOS HISTÓRICOS</th>
          <td align="justify">MUSEOS
            </td>
        </tr>
        <tr>
          <th scope="row">Museos</th>
          <td align="justify">
            </td>
       </tr>
        <tr>
          <th scope="row">FIESTAS, DANZAS Y TRADICIONES</th>
          <td align="justify"></td>
        </tr>
        <tr>
          <th scope="row">MÚSICA</th>
          <td align="justify">
          </td>
        </tr>
      </tbody>
      <tr>
        <th scope="row">GASTRONOMÍA</th>
        <td align="justify"><tr>
            <td align="justify">
              
            </td>
        </tr>
      </tr>
      <tr>
        <th scope="row">CENTROS TURÍSTICOS</th>
        <td align="justify"><tr>
            <td align="justify">
              

            </td>
        </tr>
        <tr>
      </tr>
    </table>
    <table class="table table-borderless center">
      <thead>
        <tr>
          <th scope="col">GOBIERNO</th>
          <th scope="col">PRINCIPALES LOCALIDADES</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Cabecera municipal</th>
          <td align="justify">
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>>
