
 <br>
 <div class="container">
  <div class="row" align="center">
    <div class="col-sm-12">
         <div class="card" style="width: 25rem;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">¿Tienes dudas?, Contáctanos.</h5>
          <p class="card-text">Telefono: </p>
          <p class="card-text">Correo: </p>
          <a href="http://www.huiloapan.gob.mx/" class="btn btn-primary">Sitio Web</a>
        </div>
      </div>
    </div><br>

  </div><br>
  </div>
